<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="page-title">
      Add a Book to my Collection
    </h1>
  <%= link_to "Back to my Books", root_path, class: "btn btn-secondary" %>
  </div>

  <div class="form-container">
    <%= form_with url: search_books_path, method: :get, local: true do |form| %>
      <div class="input-group mb-3">
      <%= text_field_tag :query, params[:query], placeholder: "Search by title...", class: "form-control search-input" %>
        <div class="input-group-append">
        <%= submit_tag "Search", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>


    <% if @books_from_api && @books_from_api.any? %>
      <h2 class="section-title mt-4"> Search Results </h2>

      <div class="row">
        <% @books_from_api.each do |book| %>
          <div class="col-md-4 mb-4">
            <div class="book-card-search">
              <h4 class="book-title"><%= book["volumeInfo"]["title"] %></h4>
              <% if book["volumeInfo"]["authors"] %>
                <p class="book-info">
                  <%= book["volumeInfo"]["authors"].join(", ") %>
                </p>
              <% else %>
                <p class="book-info">Unknown Author</p>
              <% end %>

              <% if book["volumeInfo"]["publishedDate"] %>
                <p class="book-info"><i><%= book["volumeInfo"]["publishedDate"][0..3] %></i></p>
              <% else %>
                <p class="book-info"><i>Unknown Publication Year</i></p>
              <% end %>

              <%= button_to "Add this book", new_book_path, method: :get, params: {api_book: book.to_json},  class: "btn btn-primary btn-sm"  %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info mt-4">
        No books found for <i>"<%= @query %>"</i>. Please try a different search term.
      </div>
    <% end %>

  </div>
</div>
